.GrupoListarrow0 {
  display: flex;
  margin-left: 1px;
  margin-top: 4px;
  width: 327px;
  height: 28px;
  align-items: stretch
}
.style0 {
  background-color: #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  width: 149px;
  flex-direction: column
}
.GrupoListarrow0container0row0 {
  display: flex;
  margin-left: 19px;
  width: 84px;
  height: 24px;
  align-items: stretch
}
.GrupoListarrow0container0row0unsupported0 {
  margin-left: 0;
  width: 21px
}
.style4 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 9px
}
.style1 {
  background-color: #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  width: 183px;
  flex-direction: column
}
.GrupoListarrow0container1row0 {
  display: flex;
  margin-left: 13px;
  width: 121px;
  height: 24px;
  align-items: stretch
}
.GrupoListarrow0container1row0unsupported1 {
  margin-left: 0;
  width: 21px
}
.style5 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 4px
}
.style2 {
  background-color: #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  margin-top: 4px;
  width: 748px;
  height: 28px;
  flex-direction: column
}
.GrupoListarcontainer2row0 {
  display: flex;
  margin-left: 689px;
  width: 192px;
  height: 28px;
  align-items: stretch
}
.style3 {
  background-color: #900;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  width: 192px;
  flex-direction: column
}
.style6 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 59px;
  height: 24px
}
.GrupoListarcontainer2row0unsupported2 {
  margin-left: 29px;
  width: 21px
}
.style7 {
  background-color: #eee;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  display: flex;
  margin-left: 1px;
  margin-top: 0;
  width: 1199px;
  height: 79px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.GrupoListarcontainer4row0 {
  display: flex;
  width: 1156px;
  height: 67px
}
.style8 {
  font-family: BalsamiqSans,serif;
  font-size: 3em;
  font-weight: 700;
  margin-left: 0;
  height: 100%
}
.GrupoListarcontainer4row0unsupported3 {
  margin-left: 39px;
  width: 13px;
  height: 56px
}
.style9 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 21px;
  width: 219px
}
.GrupoListarcontainer4row0unsupported4 {
  margin-left: 432px;
  width: 13px;
  height: 56px
}
.style10 {
  margin-left: 21px;
  width: 205px;
  height: 51px
}
.GrupoListarcontainer5row0,
.style11 {
  display: flex;
  margin-top: 0;
  height: 67px
}
.style11 {
  background-color: #f90;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  flex-direction: column;
  margin-left: 1px;
  width: 1197px
}
.GrupoListarcontainer5row0 {
  margin-left: 17px;
  width: 195px;
  align-items: center;
  flex-shrink: 0
}
.GrupoListarcontainer5row0unsupported5 {
  margin-left: 0;
  width: 32px;
  height: 32px
}
.style12 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  font-weight: 700;
  margin-left: 15px;
  height: 31px
}
.GrupoListarcontainer5row0unsupported6 {
  margin-left: 40px;
  width: 13px;
  height: 100%
}
.style13 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 67px;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0
}
.GrupoListarcontainer5container6row0 {
  display: flex;
  margin-left: 24px;
  width: 243px;
  height: 24px;
  align-items: stretch
}
.GrupoListarcontainer5container6row0unsupported7 {
  position: relative;
  display: flex;
  margin-left: 0;
  width: 21px;
  flex-direction: column
}
.style14,
.style15 {
  font-family: BalsamiqSans,serif
}
.style15 {
  position: relative;
  margin-top: 17px;
  height: 45px;
  flex-shrink: 0;
  color: #f90;
  font-size: 1.8125em;
  margin-left: 16px
}
.style14 {
  color: #000;
  font-size: .875em;
  margin-left: 4px
}
.style16 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 27px;
  margin-top: 76px;
  width: 1149px;
  height: 357px;
  align-items: center;
  flex-direction: column
}
.GrupoListarcontainer7row0 {
  display: flex;
  margin-top: 8px;
  width: 1125px;
  height: 36px;
  align-items: center
}
.GrupoListarcontainer7row0unsupported9 {
  margin-left: 0;
  width: 21px;
  height: 21px
}
.style17 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 8px;
  height: 24px
}
.GrupoListarcontainer7row0unsupported10 {
  margin-left: 29px;
  width: 21px;
  height: 21px
}
.style18 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 8px;
  height: 24px
}
.GrupoListarcontainer7row0unsupported11 {
  margin-left: 28px;
  width: 21px;
  height: 21px
}
.style19 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 8px;
  height: 24px
}
.GrupoListarcontainer7row0unsupported12,
.style20 {
  position: relative;
  display: flex;
  margin-left: 473px;
  width: 321px;
  height: 100%;
  flex-direction: column
}
.style20 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 319px;
  width: 35px;
  height: 36px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center
}
.GrupoListarcontainer7row0unsupported12container8unsupported13 {
  width: 21px;
  height: 21px
}
.style21 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 29px;
  width: 35px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.GrupoListarcontainer7row0container9unsupported14 {
  width: 21px;
  height: 21px
}
.GrupoListarcontainer7unsupported8 {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 13px
}
.GrupoListarcontainer7unsupported15 {
  margin-top: 12px;
  width: 1081px;
  height: 239px
}
.style22 {
  background-color: #ddd;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-top: 9px;
  width: 100%;
  height: 41px;
  flex-direction: column;
  justify-content: center
}
.GrupoListarcontainer7container10row0 {
  display: flex;
  margin-left: 212px;
  width: 709px;
  height: 29px;
  align-items: stretch
}
.style23,
.style24 {
  color: #f90;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  font-weight: 700;
  margin-left: 0
}
.style24 {
  margin-left: 45px
}
.GrupoListarcontainer7container10row0unsupported16 {
  margin-left: 224px;
  width: 52px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.GrupoIncluirrow0 {
  display: flex;
  margin-left: 1px;
  margin-top: 4px;
  width: 327px;
  height: 28px;
  align-items: stretch
}
.style25 {
  background-color: #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  width: 149px;
  flex-direction: column
}
.GrupoIncluirrow0container0row0 {
  display: flex;
  margin-left: 19px;
  width: 84px;
  height: 24px;
  align-items: stretch
}
.GrupoIncluirrow0container0row0unsupported0 {
  margin-left: 0;
  width: 21px
}
.style29 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 9px
}
.style26 {
  background-color: #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  width: 183px;
  flex-direction: column
}
.GrupoIncluirrow0container1row0 {
  display: flex;
  margin-left: 13px;
  width: 121px;
  height: 24px;
  align-items: stretch
}
.GrupoIncluirrow0container1row0unsupported1 {
  margin-left: 0;
  width: 21px
}
.style30 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 4px
}
.style27 {
  background-color: #000;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  margin-top: 4px;
  width: 748px;
  height: 28px;
  flex-direction: column
}
.GrupoIncluircontainer2row0 {
  display: flex;
  margin-left: 689px;
  width: 192px;
  height: 28px;
  align-items: stretch
}
.style28 {
  background-color: #900;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  margin-left: 0;
  width: 192px;
  flex-direction: column
}
.style31 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 59px;
  height: 24px
}
.GrupoIncluircontainer2row0unsupported2 {
  margin-left: 29px;
  width: 21px
}
.style32 {
  background-color: #eee;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  display: flex;
  margin-left: 1px;
  margin-top: 0;
  width: 1199px;
  height: 79px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.GrupoIncluircontainer4row0 {
  display: flex;
  width: 1156px;
  height: 67px
}
.style33 {
  font-family: BalsamiqSans,serif;
  font-size: 3em;
  font-weight: 700;
  margin-left: 0;
  height: 100%
}
.GrupoIncluircontainer4row0unsupported3 {
  margin-left: 39px;
  width: 13px;
  height: 56px
}
.style34 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 21px;
  width: 219px
}
.GrupoIncluircontainer4row0unsupported4 {
  margin-left: 432px;
  width: 13px;
  height: 56px
}
.style35 {
  margin-left: 21px;
  width: 205px;
  height: 51px
}
.style36 {
  background-color: #f90;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  display: flex;
  margin-left: 1px;
  margin-top: 0;
  width: 1197px;
  height: 67px;
  flex-direction: column
}
.GrupoIncluircontainer5row0 {
  display: flex;
  margin-left: 17px;
  margin-top: 0;
  width: 195px;
  height: 67px;
  align-items: center;
  flex-shrink: 0
}
.GrupoIncluircontainer5row0unsupported5 {
  margin-left: 0;
  width: 32px;
  height: 32px
}
.style37 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  font-weight: 700;
  margin-left: 15px;
  height: 31px
}
.GrupoIncluircontainer5row0unsupported6 {
  margin-left: 40px;
  width: 13px;
  height: 100%
}
.style38 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 67px;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0
}
.GrupoIncluircontainer5container6row0 {
  display: flex;
  margin-left: 24px;
  width: 243px;
  height: 24px;
  align-items: stretch
}
.GrupoIncluircontainer5container6row0unsupported7 {
  position: relative;
  display: flex;
  margin-left: 0;
  width: 21px;
  flex-direction: column
}
.style39,
.style40 {
  font-family: BalsamiqSans,serif
}
.style40 {
  position: relative;
  margin-top: 17px;
  height: 45px;
  flex-shrink: 0;
  color: #f90;
  font-size: 1.8125em;
  margin-left: 16px
}
.style39 {
  color: #000;
  font-size: .875em;
  margin-left: 4px
}
.style41 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 27px;
  margin-top: 76px;
  width: 1149px;
  height: 357px;
  flex-direction: column
}
.GrupoIncluircontainer7row0 {
  display: flex;
  margin-left: 16px;
  margin-top: 15px;
  width: 165px;
  height: 24px;
  align-items: stretch
}
.GrupoIncluircontainer7row0unsupported10 {
  margin-left: 0;
  width: 21px
}
.style42 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 8px
}
.GrupoIncluircontainer7row0unsupported9 {
  margin-left: 24px;
  width: 21px
}
.style43 {
  color: #000;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 8px
}
.GrupoIncluircontainer7unsupported8 {
  margin-top: 4px;
  width: 100%;
  height: 13px;
  align-self: stretch
}